BasedOnStyle: LLVM
IndentWidth: 4
AccessModifierOffset: 0
AlignConsecutiveMacros: true
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket : AlwaysBreak